@import './assets/styles/normalize.css';
@import './assets/styles/skeleton.css';

.appContainer {
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 0;

  &_filtersBar {
    display: flex;
    margin: 14px 0;
  }
}